.container {
    text-align: center;
    margin-top: 50px;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 20px;
}

.loading{
    font-weight: blod;
    margin-bottom: 20px;
}

.hidden{
    display: none;
}